#Ignore list for KiCAD Projects
#Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*sch-bak
*~
_autosave-*
*.tmp
*-save.kicad_pcb
fp-info-cache
#Netlist files (exported from Eeschematic)
*.net 
#Autorouter
*.dns
*.ses